.idea
.php_cs.cache
.phpunit.result.cache
.vscode
.vagrant
*.hot
# macOS metadata files
._*
.DS_Store
/stubs
/data
/docker-compose-collection
Homestead.json
Homestead.yaml
/ignorables/*
/node_modules
npm-debug.log
package-lock.json
/public/css 
/public/js
/public/hot
/public/storage
/public/vendor
/lang/vendor
/storage/*.key
/storage/dcc-data/
/vendor
yarn.lock
yarn-error.log
